
<?php echo $this->Html->css(array('admin/Datatables/dataTables.bootstrap','admin/Datatables/buttons.bootstrap','admin/Datatables/fixedHeader.bootstrap','admin/Datatables/responsive.bootstrap')); 
      echo $this->Html->script(array('admin/Datatables/jquery.dataTables.min','admin/Datatables/dataTables.bootstrap.min','admin/Datatables/dataTables.buttons.min','admin/Datatables/buttons.bootstrap.min','admin/Datatables/buttons.flash.min','admin/Datatables/buttons.html5.min','admin/Datatables/buttons.print.min','admin/Datatables/dataTables.fixedHeader.min','admin/Datatables/dataTables.keyTable.min','admin/Datatables/dataTables.responsive.min','admin/Datatables/responsive.bootstrap','admin/Datatables/dataTables.scroller.min','admin/Datatables/jszip.min','admin/Datatables/pdfmake.min','admin/Datatables/vfs_fonts'));
?>
<style>
.modal{
    background: #fff none repeat scroll 0 0;
    bottom: 52% !important;
    display: none;
    height: 212px !important;
    left: 39% !important;
    top: 39% !important;
    outline: 0 none;
    overflow: hidden;
    position: fixed;
    width: 382px !important;
    z-index: 1050;
}
</style>
<!-- page content -->
      
   <div class="content-inner manageuserstap">
          <!-- Page Header-->
          <!--<header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Tables</h2>
            </div>
          </header>-->
          <!-- Breadcrumb-->
          <ul class="breadcrumb">
            <div class="container-fluid">
              <li class="breadcrumb-item"><a href="<?php echo $this->webroot; ?>users/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active">Manage Users</li>
            </div>
          </ul>
          <section class="tables">   
            <div class="container-fluid">
              <div class="row">
                
                <div class="col-lg-12">
                  <div class="card">
                      <div class="card-close">
                      <a class="GoBack btn-success btn btn-sm" href="<?php echo $this->webroot; ?>users/add_faq_topic"><i class="fa fa-plus"></i> Add Topic</a>
                      </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Users</h3>
                    </div>
                    <div class="card-body user-view-body">
              <p><?php echo $this->Session->flash(); ?></p>
              
              <div class="table-responsive">
                      <table id="datatable-buttons" class="table table-striped table-bordered" data-page-length="25" data-order="[[2, &quot;desc&quot; ]]">
                        <thead>
                        <tr>
                          
                          <th>User Role</th>
                          <th>Topic</th>
                          <th>Created</th>
                          <th>Modified</th>
                          <th>Actions</th>

                        </tr>
                      </thead>

                      <tbody>
                        
                        <?php if(isset($faqs) && !empty($faqs)){ foreach($faqs as $faq): ?>
                        <tr>
                         
                          
                          <td width="150px;"><?php if($faq['FaqTopic']['user_role']==2){ echo 'Client'; }elseif($faq['FaqTopic']['user_role']==3){ echo 'Reader'; }else{ echo 'General'; }  ?></td>
                          <td><?php if(!empty($faq['FaqTopic']['topic'])){ echo $faq['FaqTopic']['topic']; }else{ echo 'N/A'; } ?></td>
                         <!-- <td width="500px;"><?php if(!empty($faq['FaqTopic']['answer'])){ echo $faq['Faq']['answer']; }else{ echo 'N/A'; } ?></td>
                          <td width="50px;"><?php echo $faq['Faq']['status']; ?></td>-->
                          <td width="100px;"><?php echo date('m-d-Y',strtotime($faq['FaqTopic']['created'])); ?></td>
                          <td width="100px;"><?php echo date('m-d-Y',strtotime($faq['FaqTopic']['modified'])); ?></td>
       
                         <td width="300px;" style="white-space: nowrap; max-width: 300px; min-width: 300px;">
                          
                          <a class="btn btn-info btn-xs" title="Edit" href="<?php echo $this->webroot; ?>users/add_faq_topic/<?php echo $faq['FaqTopic']['id']; ?>"><i class="fa fa-edit"></i> Topic</a>
                          <a class="faqbtn btn-success btn btn-xs" href="<?php echo $this->webroot; ?>users/add_faq/<?php echo $faq['FaqTopic']['id']; ?>"><i class="fa fa-plus"></i> Faq</a>
                          <a class="faqbtn btn-warning btn btn-xs" href="<?php echo $this->webroot; ?>users/manage_faqs/<?php echo $faq['FaqTopic']['id']; ?>"><i class="fa fa-eye"></i> Faqs</a>
                          <a class="faqbtn btn btn-danger btn-xs" title="Delete" onclick="return get_confirm();" href="<?php echo $this->webroot; ?>users/delete_faq_topic/<?php echo $faq['FaqTopic']['id']; ?>"><i class="fa fa-times"></i> Trash</a>
                      
                        </td>
                      </tr>

                      <?php endforeach; }else{ ?>
                      <tr>
                        <td>No Records found!</td>
                      </tr>
                      <?php } ?>
                    </tbody>
                      </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
   <!======Model code ======>
                    
                      <div class="modal post_modal" id="myModal">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h5>Update Status</h5>
                          </div>
                          <div class="modal-body" style="height:55px;">
                            
                            <select id="status_data" class="" style="width:150px;color:black;">
                              <option value="">Select</option>
                              <option value="Active">Active</option>
                              <option value="Inactive">Inactive</option>
                              
                            </select>
                          </div>

                          <div class="res_msg"></div>
                          <div class="modal-footer" style="padding:8px;">
                            <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
                            <a href="javascript:void(0);" onclick="update_status()" class="btn btn-primary">Update</a>
                          </div>
                      </div>
              
                </div>
              </div>
            </div>
          </div>
   </div>
        <!-- /page content -->
<!-- /page content -->


  <!-- Datatables -->
   <style>
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  display: none;
}
   </style>

    <script>
      $(document).ready(function() {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable();

        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        var $datatable = $('#datatable-checkbox');

        $datatable.dataTable({
          'order': [[ 1, 'asc' ]],
          'columnDefs': [
            { orderable: false, targets: [0] }
          ]
        });
        $datatable.on('draw.dt', function() {
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
          });
        });

        TableManageButtons.init();
      });

    function get_confirm(){
        return confirm('Are you sure, you want to delete this record?');
    }

    function showModal(id,status){

      Faq_id = id;
      status = status;
      $('#status_data').val(status);
      $('#myModal').modal();
    }

    function update_status(){

      $('.res_msg').html('');
      Id = Faq_id;
      status = $('#status_data').val();
      if(Id!="" && status!=""){

        $.ajax({
    
          'url': '<?php echo $this->webroot; ?>Faqs/ajax_update_Faqstatus',
          'type': 'POST',
          'dataType': 'text',
          'data': {Faq_id:Id,status:status},
          'success': function(data){

            if(data=='success'){
              $('#myModal').hide();
              swal("Success!", "status updated successfully!", "success");
           
              swal({ 
                  title: "Success!",
                  text: "status updated successfully!",
                  type: "success" 
                },
                function(){
                 
                 location.reload();
              });
            }else{
             
              noty({
                 text: data,
                 layout: 'bottomLeft',
                 closeWith: ['click', 'hover'],
                 type: 'error'
              });
            }
          }

        });
      }else{
         noty({
           text: 'Please select status',
           layout: 'bottomLeft',
           closeWith: ['click', 'hover'],
           type: 'error'
        });
      }
    }


    </script>
    <!-- /Datatables -->
